.imagePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
    height: 92vh;
    background-color: rgb(237, 255, 252);
    overflow: scroll;
}

.formImageGallery {
    margin: 130px;
}

.imageGallery {
    display: flex;
    margin-top: 80px;
}

.img {
    margin: 0px 15px;
}

.photoImageGallery {
    height: 20vh;
}

.h4ImageGallery {
    margin: 0px;
    font-size: 15px;
}