.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 5px 40px;
  /* background-color: rgba(8, 49, 58, 1); */
  border-bottom: 1px solid white;
}

.logoImgWrapper {
  position: relative;
  overflow: hidden;
}

.logoImg {
  margin-right: 30px;
  width: 6%;

}

.nav-title {
  margin-left: -30px;
  margin-top: -60px;
  font-size: 24px;
  font-weight: 700;
  color:  rgb(237, 255, 252);
  padding-left: 30px;
  text-shadow: 2px 2px 1px black,
              -2px 2px 1px black,
              2px -2px 1px black,
              -2px -2px 1px black;
}

.nav-title2 {
  margin-left: -20px;
  margin-top: -10px;
  font-size: 24px;
  font-weight: 700;
  color:  rgb(237, 255, 252);
  padding-left: 30px;
  text-shadow: 2px 2px 1px black,
              -2px 2px 1px black,
              2px -2px 1px black,
              -2px -2px 1px black;
}

.navLink {
  display: inline-block;
  color:  rgb(237, 255, 252);
  background-color: rgba(8, 49, 58, 1);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: 0;
}


